<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Weather App</h1>
    <form id="weatherForm">
        <input type="text" id="cityInput" placeholder="Enter City">
        <button type="submit">Get Weather</button>
    </form>

    <!-- Weather Data -->
    <div id="weatherData">
        <h2 id="weatherLocation"></h2>
        <p id="weatherDescription"></p>
        <p id="weatherTemperature"></p>
        <p id="weatherHumidity"></p>
        <p id="weatherWind"></p>
    </div>

    <canvas id="forecastChart" width="400" height="200"></canvas>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <!-- Sensor Data -->
    <div id="sensorData">
        <h2>Sensor Data</h2>
        <p id="sensorTemperature"></p>
        <p id="sensorHumidity"></p>
        <!-- Add more fields as needed for the sensor data -->
    </div>


</body>
</html>
